<html>
	<head>
        <% include ./partials/head %>
	</head>
	<body>
		<header>
			<a href="/"><img src="/images/favicon.png" class="favicon"></a>
			<div>
				<a href="/login">Log in</a>
			</div>
		</header>
		<section>
			<div class="container">
                <div class="box-1">
					<h6>Index</h6>
					<h3>Basic Monolitic Framework Model</h3>
                </div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./partials/footer %>
        </script>
	</footer>
</html>