<header>
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Produção</option>
	    <option value="/">Costura Externa</option>
	    <option value="/">Costura Interna</option>
	    <option value="/seamstress/index">Costureiras</option>
	</select>
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Financeiro</option>
	    <option value="/financial/index">Entradas/Saídas</option>
	    <option value="/financial/config">Cadastrar categorias de entradas e saídas</option>
	</select>
</header>