<header>
	<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
	    <option value="">Produção</option>
	    <option value="/product/index">Produtos</option>
	    <option value="/">Costura Externa</option>
	    <option value="/">Costura Interna</option>
	    <option value="/seamstress/index">Costureiras</option>
	</select>
	<select>
		<option>Estoque</option>
		<option>Entrada de Estoque</option>
		<option>Saída de estoque</option>
	</select>
	<select>
		<option>Loja</option>
		<option>Caixa</option>
		<option>Relatório contábil</option>
		<option>Relatório de vendas</option>
		<option>Estoque</option>
	</select>
</header>