<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<body>
		<header>
			<div onclick="window.location.href='/'" href="#default" class="favicon"><img class="image" src="/images/favicon.png"></div>
			<div class="right">
			<a onclick="let r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">Sair</a>
			</div>
		</header>
        <% include ./../partials/nav %>
		<section>
			<div class="container">
				<div class="box-2">
					<form id="product-create-form" class="box-1">
						<input type="hidden" name="product_id" id="product-create-id" value="0" autocomplete="off">
						<input type="number" name="product_code" id="product-create-code" class="btn-generic-big" placeholder="Cód do produto" min="1" max="9999" autocomplete="off">
						<input type="text" name="product_name" class="btn-generic-big" id="product-create-name" placeholder="Nome do produto" autocomplete="off" maxlength="15">
						<br>
						<select name="product_color" id="product-create-color" class="btn-generic-big" autocomplete="off">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<select name="product_size" id="product-create-size" class="btn-generic-big" autocomplete="off">
							<option value="">Tamanho</option>
							<option value="ST">Sem tamanho</option>
							<option value="PP">PP</option>
							<option value="P">P</option>
							<option value="M">M</option>
							<option value="G">G</option>
							<option value="GG">GG</option>
						</select>
						<br>
						<br>
						<input type="submit" class="btn-generic-big" id="product-create-submit" value="Cadastrar">
					</form>
				</div>
				<div class="box-2">
					<form id="product-filter-form" class="box-1">
						<input type="hidden" name="location" value="admin">
						<input type="text" name="name" class="btn-generic-small" placeholder="Nome" autocomplete="off">
						<input type="text" name="code" class="btn-generic-small" placeholder="Cód" autocomplete="off">
						<select name="color" id="product-admin-color" class="btn-generic-small" autocomplete="off">
							<option value="">Cor</option>
							<% for(i in productColors){ %>
								<option value="<%= productColors[i].shortcut %>"><%= productColors[i].name %></option>
							<% } %>
						</select>
						<input type="submit" class="btn-generic-small" value="Filtrar">
					</form>
					<div id="product-admin-filter-div" style="display:none">
						<table class="tbl-info" id="product-admin-filter-tbl"></table>
						<br>
						<button id="productAdminFilterPrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
	                    <span id="productAdminFilterPageNumber"></span>
	                    <button id="productAdminFilterNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
					</div>
				</div>
				
				<div class="box-1" id="product-show-box" style="display:none;">
					<table class="tbl-info" id="product-show-tbl">
						<tr>
							<td>Cód</td>
							<td>Nome</td>
							<td>Tamanho</td>
							<td>Cor</td>
						</tr>
						<tbody id="product-show-tbody"></tbody>
					</table>
					<div class="box-1" id="product-image-show"></div>
					<button id="imagePrevious" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                    <span id="imagePageNumber"></span>
                    <button id="imageNext" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
				</div>
			</div>
		</section>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
	</footer>
</html>